!!!5
html
  head
    link(rel='stylesheet', href='/main.css')
    script(src='jquery.min.js')
    script(src='socket.io/socket.io.js')
    script
      "use strict"

      function addMessage(msg, type) {
        var $messages = $('ul.messages');
        $messages.append('<li>' + msg + '</li>');

        // scroll
        $messages.scrollTop($('ul').height());
      }

      $(document).ready(function() {
        // set guest nick
        var nick = 'guest' + Math.floor(Math.random()*111111);

        // socket io stuff
        var socket = io.connect();
        
        socket.on('connect', function() {
          socket.emit('register nick', nick);
        });

        socket.on('announcement', function(msg) {
          addMessage(msg);
        });

        socket.on('user message', function(nick, msg) {
          addMessage(nick + ': ' + msg)
        });

        // dom manipulation
        $('#nick').html(nick);

        // dom handlers
        $('form').submit(function() {
          var msg = $('input').val();
          socket.emit('user message', msg);
          addMessage('You: ' + msg);
          $('#msg').val('');
          return false;
        });
      });

  body
    h1 Ye Old Chat App
    p Your nick: 
        span#nick
    ul.messages
    form
      input#msg(name='msg')